/* Tipo Grafias */
@font-face {
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    src: local('Lato'), local('Lato-Regular'),
     url('../2025-02-25__Botiga_cafes_enunciat/fonts/Lato/Lato-Regular.woff') format('woff'),
     url('../2025-02-25__Botiga_cafes_enunciat/fonts/Lato/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Script';
    src: local('Dancing Script SemiBold'), local('DancingScript-SemiBold'),
     url('../2025-02-25__Botiga_cafes_enunciat/fonts/Dancing_Script/DancingScript-SemiBold.woff') format('woff'),
     url('../2025-02-25__Botiga_cafes_enunciat/fonts/Dancing_Script/DancingScript-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* El * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* El ROOT con sus variables */
:root {
    --color_fondo_primario: #053617;
    --color_secundari: hsl(142, 83%, 12%);
    --color_texto:black;
    --color_texto_link: white;
    --color_texto_primario: pink;
    --color_fons: #fff;
    --font_primari: 'Dancing Script', sans-serif;
    --font_secundari: 'Lato', cursive;

}

/* El Resto de CSS*/

h1, h2, p {
    font-family: 'Dancing Script';
}   
h1 {
    text-align: center;
    font-size: 10vw;
    position: absolute;
    color: var(--color_texto_primario);
    right: 6vw;
    top: 8vw;
        @media(max-width: 900px) {
        right: 10vw;
        font-size: 20vw;
        top: 10vw;
        color: pink;
    }
    @media(max-width: 450px) {
        right: 15vw;
        font-size: 15vw;
        color: white;
    }

}
h2 {
    text-align: center;
    color: black;
}
p {
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: center;
    font-display: swap;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    gap: 30px;
    background-color: var(--color_fondo_primario);
    padding: 10px 0;
    ul {        
        margin: 0 auto;
        width: auto;
        height: auto;
        justify-content: space-between;
        display: flex;
        gap: 20px;
        text-decoration: none;
        li {
            list-style: none;
            padding: 5px 10px;
            border-top: 5px transparent var(--color_texto_primario);
            border-bottom: 5px transparent var(--color_texto_primario);

            &:hover {
                border-top: 5px solid var(--color_texto_primario);
                border-bottom: 5px solid var(--color_texto_primario);
                border-top: 5px solid yellow;
                border-bottom: 5px solid yellow;
                color: yellow;
                border-radius: 5px;
            }
            a{
                color: var(--color_texto_link);
                text-decoration: none;
                font-size: 1.2em;
            }
        }
    }
}
header {
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}   
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
footer{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: var(--color_fondo_primario);
    bottom: 10px;
     a{
                color: var(--color_texto_link);
                text-decoration: none;
                font-size: 1.2em;
            }
}
img {
    width: 100%;
    height: auto;
}


