/* Aquí puedes agregar estilos CSS para personalizar el aspecto de tu página Aspecto o acabado*/
<style>
        /* Aquí puedes agregar estilos CSS para personalizar el aspecto de tu página */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            border: 1em solid #ccc;
            text-align: center;
        }
        h1 {
            font-size: 2.5em;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #007bff;
            margin:auto 2em;
            border: 0.1em solid #333;
            border-radius: 10px;
            border-block-end-width: 0.1em;
            border-left-width: 0.1em;
        }
        h2 {
            font-size: 2em; /*rem todo em para botones o cosas internas*/
            font-family: 'Helvetica','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #28a745;
        }
        h3 {
            font-size: 1.75em;
            font-family: 'Arial','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #dc3545;
        }
        h4 {
            font-size: 1.5em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #ffc107;
        }
        p {
            font-size: 18px;
            color: black;
        }
        mark {
            background-color: red;
            color: black;
        }
</style>