/* STYLES LIST */

/* Fonts Styles */
@font-face {
    font-family: "Amita";
    src: local('Amita'), local('Amita'),
    url(../fonts/Amita/Amita-Bold.ttf) format('ttf');
    font-weight: 600px;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local('Roboto'), local('Roboto'),
    url(../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* Reset of the page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
    --color_texto_primario:black;
    --color_texto_secundario:grey;
  --color_fondo_primario: bisque;
  --color_fondo_secundario: #754c1a;
  --color_servei1:#ffe4c488;
  --color_servei2:#69c0e4;
  --breakpoint_principal: 1200px;
  
}
h1,h2{
    font-family: 'Amita';
}
header {
    display: block;
    justify-content: center;
    align-items: center;

}
header img {
  width: 100%;
  display: block;
}

nav {
  background-color: var(--color_fondo_primario);
  margin-bottom: 1px solid black;
  h1{
    text-align: center;

  }

  ul {
    border-bottom: 3px solid black; 
    margin: 0 auto;
    width: var(--breakpoint_principal);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom-style: solid var(--color_servei2);

    li {
      list-style: none;
      padding: 0.5rem 1rem;
      color: var(--color_texto_primario);

      &:hover {
        border-top: 5px solid var(--color_texto_primario);
        border-bottom: 5px solid var(--color_texto_primario);
        border-top: 5px solid yellow;
        border-bottom: 5px solid yellow;
        color: yellow;
      }

      a {
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
      }
    }
  }
}
article{

  gap: 5rem;
    text-align: center;
    align-items: center;
    color:var(--color_servei2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 800px ;
    p{
        color:black;
    }
    div{
        
        background-color: white;
        width: auto;
        height: auto ;
    }
}
footer,main{
    background-image:  url("../img/background.png");
}
.background_footer{
   background-color: var(--color_fondo_primario);
}

.textos_fotos {

  display: block;
 display: grid;
    grid-template-columns: repeat(2, 3fr);

  h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.texto_derecha {

  padding-left: 2rem;
  border: 1px solid black; 

}

.texto_izquierda {

  padding-right: 2rem;
    border: 1px solid black; 
}
article{
      background-color: var(--color_fondo_primario);

}


